<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='/style.css' rel='stylesheet' />
    <script type="module" src={{script}} defer></script>
    <title>Kates Beauty Room</title>
</head>
<nav>
    <ul class="navUl">
        <li class="navLi"><a href="/home">Home</a></li>
        <li class="navLi"><a href="/appointment">Calendar</a></li>
        <li class="navLi"><a href="/appointment/createAppointment">Create Appointment</a></li>
        <li class="navLi"><a href="/treatment">Treatments</a></li>
        <li class="navLi"><a href="/client">Clients</a></li>
        <li class="navLi"><a href="/statement">Statements</a></li>
        <li class="navLi"><a href="/">Log Out</a></li>
    </ul>
</nav>
<body>
{{{ body }}}
</body>
</html>