<section class="section-container">
  <div class="page">
    <div class="field field_v3">
      <label for="treatmentID" class="ha-screen-reader">Treatment ID</label>
      <span id="treatmentID" class="field__input">#{{treatmentID}}</span>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Treatment ID</span>
      </span>
    </div>
    <br>
    <div class="field field_v3">
      <label for="treatmentType" class="ha-screen-reader">Type</label>
      <span id="treatmentType" class="field__input">{{type}}</span>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Type</span>
      </span>
    </div>
    <br>
    <div class="field field_v3">
      <label for="treatmentName" class="ha-screen-reader">Treatment</label>
      <span id="treatmentName" class="field__input">{{name}}</span>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Treatment</span>
      </span>
    </div>
    <br>    
      <div class="field field_v3">
      <label for="price" class="ha-screen-reader">Price</label>
      <span id="price" class="field__input">{{price}}</span>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Price</span>
      </span>
    </div>
    <button class="button-31" id="editTreatment">Edit Treatment</button>
    <button class="button-31" id="deleteTreatment">Delete Treatment</button>
    <button class="button-31" id="backBtn">Back</button>
  </div>
  </section>