<section class="section-container section-center">
    <form class="page" id="loginForm" action="" method="POST">
    <div class="field field_v2">
      <label for="username" class="ha-screen-reader">Username</label>
      <input id="username"  type="text" class="field__input" placeholder="e.g John123" required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Username</span>
      </span>
    </div>    
    <div class="field field_v2">
      <label for="password" class="ha-screen-reader">Password</label>
      <input id="password" type="password" class="field__input"  placeholder="Password" required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Password</span>
      </span>
    </div>
    <button class="button-31" role="button" id="login">Login</button>
  </form>
</section>