<div>
        <form id="appointmentForm">

            <label for="client">Name</label>
            <select name="client" id="client_selector" required></select>
            <br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" required>
            <br>
            <label for="start-time">Start Time</label>
            <input type="time" name="start-time" id="start-time" required>
            <br>
            <label for="end-time">End Time</label>
            <input type="time" name="end-time" id="end-time" required>
            <br>
            <input type="submit" id="createClient" value="Create">

        </form>
    </div>