<section class="section-container section-center">
  <div class="page">
    <div class="field field_v2">
      <label for="name" class="ha-screen-reader">Treatment Name</label>
      <input id="name"  type="text" class="field__input" placeholder="e.g Bikini" required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Treatment Name</span>
      </span>
    </div>    
    <div class="field field_v2">
      <label for="type" class="ha-screen-reader">Treatment Type</label>
      <input id="type" type="text" class="field__input"  placeholder="e.g Waxing" required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Treatment Type</span>
      </span>
    </div>
      <div class="field field_v2">
      <label for="price" class="ha-screen-reader">Price</label>
      <input id="price" type="number" class="field__input" placeholder="e.g 22.00" required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Price</span>
      </span>
    </div>

        <!-- HTML !-->
    <button class="button-31" role="button" id="createTreatment">Create</button>
    <button class="button-31" role="button" id="backBtn">Back</button>

  </div>
</section>