<h1>Wow this is the statement page</h1>


<form>
  <label for="start-date">From:</label>
  <input type="date" id="start-date" name="start-date">
  <label for="end-date">To:</label>
  <input type="date" id="end-date" name="end-date">
  <input type="submit" id="statementBtn">
</form>
