<section class="section-container section-center">
  <div class="page">
    <div class="field field_v2">
      <label for="id" class="ha-screen-reader">ID</label>
      <span id="id" class="field__input">{{client.id}}</span>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">ID</span>
      </span>
    </div>    
    <div class="field field_v2">
      <label for="name" class="ha-screen-reader">Name</label>
      <input id="name"  type="text" class="field__input" placeholder="e.g John Doe" value={{client.clientname}} required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Name</span>
      </span>
    </div>    
    <div class="field field_v2">
      <label for="email" class="ha-screen-reader">Email</label>
      <input id="email" type="email" class="field__input"  placeholder="e.g johndoe@email.com" value={{client.email}} required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Email</span>
      </span>
    </div>
      <div class="field field_v2">
      <label for="number" class="ha-screen-reader">Phone Number</label>
      <input id="number" type="tel" class="field__input" placeholder="e.g 07777777777" value={{client.telephone}} required>
      <span class="field__label-wrap" aria-hidden="true">
        <span class="field__label">Phone Number</span>
      </span>
    </div>

        <!-- HTML !-->
    <button class="button-31" role="button" id="updateClient">Update</button>
    <button class="button-31" role="button" id="back">Back</button>

  </div>
</section>